

#modal {
    position: absolute;
    margin: auto;
    margin-top: 8rem;

    background-color: brown;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: fit-content;

    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 2rem;


}


#modal button {

    color: black;
    font-weight: 600;
    font-size: medium;

    padding: 0.5rem;
    padding-top: 0.3rem;

    border-radius: 0.2rem;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    background-color: burlywood;

    margin-top: 1rem;
}